DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=helmet_store
DB_PORT=5432

PORT=3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=wxzdj6mq
CLOUDINARY_API_KEY=464315981431265
CLOUDINARY_API_SECRET=Ipya301iKPadjeg5x97QIAFoDrECLO
